.colors {
    height: 90vh;
    background: linear-gradient(to top, rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0));
    background-repeat: no-repeat;
    transition: background-size 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }
  